<h2>look at the recent jobs!</h2>
<ul>
  <li><a href="www.example.com/jobs/1">Software tester</a></li>
  <li><a href="www.example.com/jobs/2">Project manager</a></li>
  <li><a href="www.example.com/jobs/3">Web developer</a></li>
</ul>
